@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  }


:root {

    /* Colors */
    --clr-Nutmeg: hsl(14, 45%, 36%);
    --clr-DarkRaspberry: hsl(332, 51%, 32%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-RoseWhite: hsl(330, 100%, 98%);
    --clr-Eggshell: hsl(30, 54%, 90%);
    --clr-LightGrey: hsl(30, 18%, 87%);
    --clr-WengeBrown: hsl(30, 10%, 34%);
    --clr-DarkCharcoal: hsl(24, 5%, 18%);

    /* Typography */
    --ff-Outfit: 'Outfit', sans-serif;
    --ff-Young: 'Young Serif', sans-serif;

    --fs-body: 1.6rem;
    --fs-h1: clamp(3rem, 4vw, 3.5rem);;
    --fs-h2: clamp(2rem, 4vw, 2.8rem);
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

}

*,
*::before,
*::after {margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: var(--fs-body, 16px);
    font-family: var(--ff-Outfit, 'Arial');
    color: var(--clr-WengeBrown, #222);
    font-weight: var(--fw-400, 400);
    background-color: var(--clr-Eggshell, #f3e6d8);
    line-height: 1.5;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

h1, h2, p {
    padding: 0;
    margin: 0;

}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card {
    background: var(--clr-White, #fff);
    width: auto;
    height: auto;
    padding: 4rem;
    max-width: 70rem;
    border-radius: 1.5rem;
    margin-block: 10rem;
    overflow: hidden;
}


.card__image {
    height: 100%;
    width: 100%;
    max-height: 30rem;
    margin-bottom: 2rem;
}

.card__heading {
    font-family: var(--ff-Young, Serif);
    font-size: var(--fs-h1);
    padding-block: 1rem;
    color: var(--clr-DarkCharcoal, #302D2C);
}

.card__preparation {
    background-color: var(--clr-RoseWhite, #fff5FA);
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
}

.card__subheading_pink {
    font-size: 1.8rem;
    color: var(--clr-DarkRaspberry, #F26C6C);
}

.is-bold {
    font-weight: var(--fw-600, 600);
}


.card__list {
    padding-left: 2.5rem;
}

.card__list li {
    padding-left: 2rem;
    margin-block: 1rem;
}

.card__preparation .card__list li::marker {
    color: var(--clr-DarkRaspberry, #F26C6C);
}

.card__list li::marker {
    color: var(--clr-Nutmeg, #854632);
    font-weight: var(--fw-600, 600);
}
.card__subheading {
    font-family: var(--ff-Young, Serif);
    font-weight: var(--fw-400, 400);
    font-size: var(--fs-h2);
    color: var(--clr-Nutmeg, #854632);
    padding-bottom: 1rem;
}

.card__igredients, .card__instructions {
    border-bottom: 1px solid var(--clr-LightGrey);
}

.card__igredients, .card__instructions, .card__nutrition{
    padding-block: 3rem;
}

.card__table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

.card__table tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-LightGrey);
}

.card__table td {
    padding-block: 2rem;
    padding-inline: 3rem;
}
.card__table .is-bold {
    color: var(--clr-Nutmeg, #854632);
}

@media only screen and (max-width: 425px) {

    .card {
        margin-block: 0px;
        padding: 0px;
    }

    .card__content {
        padding: 2rem;
    }

    .card__image {
        margin-bottom: 0rem;
    }

    img, .card {
        border-radius: 0rem;
    }
}

